/*el archivo de estilos no se ve plasmado en las rutas por alguna razon... 
todo el archivo fue copiado en cada html para que se pueda ver en la ruta*/

* {
    margin: 30;
    padding: 0px;
    box-sizing: border-box;
}


h1 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

h2 {
    font: lighter 30px sans-serif;
    text-align: left;
}


header, footer, ul{
    border: solid 2px black;
    display: block;
    text-align: left;
    border-radius: 30px;
}

body header {
    background: black;
    color: white;
    border: solid 4px #7a9a93;
    border-radius: 30px;
}

body, ul {
    text-align: center;
    background: #7098a0;
}

.agrupar {
    background: #C7D7C4;
    width: 1000px;
    margin: auto;
    padding: 25px;
}

article {
    padding: 20px;
    border: solid 2px black;
    margin: 25px;
    width: 600px;
    background: #7098a0;
    float: left;
    border-radius: 30px;

}
.cuerpo p {
    text-align: justify;
    
}

ul li {
    list-style: none;
    padding: 15px;
    font: bold 20px sans-serif;
    display: inline-block;
}

.date {
    background: #7098a0;
    text-align: center;
    clear: both;
    border-radius: 30px;
}

.barra {   
    padding: 20px;
    width: 160px;
    margin: 0;
    margin-left: 60px;
    margin-top: -320px;
    display: block;
    float: left;
}

.barra_2 {   
    padding: 20px;
    width: 160px;
    margin: 0;
    margin-left: 60px;
    margin-top: -10px;
    display: block;
    float: left;
}

.barra_2 p{
    border: solid 2px black;
    background: #7098a0;
    text-align: center;
    width: 250px;
    margin-left: -70px;
    padding: 20px;
    border-radius: 30px;
}

.barra p{
    border: solid 2px black;
    background: #7098a0;
    text-align: center;
    width: 250px;
    margin-left: -70px;
    padding: 20px;
    border-radius: 30px;
}

.coment1, .coment2 {
    margin: 10px;
}

img {
    width: 200px;
    
}

.entrada {
    margin: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #7098a0;
    border-radius: 30px;
    border: solid 2px black;
}


.entrada p {
    text-align: center;
}

.sobre_nosotros {
    margin: 0;
    margin-bottom: 5px;
    padding: 20px;
    background-color: #7098a0;
    border-radius: 30px;
    border: solid 2px black;
}
