@import url('');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-img{
    background: url('img/avion.jpg');
    height: 100vh;
    background-size: cover;
    background-position: top;
}

.bg-img:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.08);
}


.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
    width: 370px;
    padding: 75px 32px;
    background: rgba(250,250,250,0.1);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}

.content header{
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
}

.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(300,300,300,0.90);
}

.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
}

.show{
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    cursor: pointer;
    display: none; 
}

.password:valid ~ .show{
    display: block;
}

.space{
    margin-top: 16px;
}

 .pass{
    text-align: left;
    margin: 15px 0;
 }

.pass a{
    color: white;
    text-decoration: none;
}

.pass:hover a{
    text-decoration: underline;
}

input[type="submit"]{
    background: #3498db;
    border: 1px solid #2691d9;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}

input[type="submit"]:hover{
    background: #2691dd;
}

.login{
    color: white;
    margin: 20px 0;
}

